<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OzemstvoWindowsForm.Properties.Rules" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OzemstvoWindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OzemstvoWindowsForm.Properties.Rules>
            <setting name="Rule1" serializeAs="String">
                <value>{Foo: "Bar"}</value>
            </setting>
            <setting name="Rule2" serializeAs="String">
                <value>{Biz: "Baz}</value>
            </setting>
        </OzemstvoWindowsForm.Properties.Rules>
        <OzemstvoWindowsForm.Properties.Settings>
            <setting name="Rules" serializeAs="String">
                <value>[]</value>
            </setting>
        </OzemstvoWindowsForm.Properties.Settings>
    </userSettings>
</configuration>